:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.primary_button {
  display: inline-block;
  background-color: #0066cc;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  border: none;
}

.primary_button:hover {
  background-color: #004080;
}

.secundary_button {
  background: none;
  border: 1px solid #0066cc;
  color: #0066cc;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-size: 1.2375rem;
  /* 0.9rem * 1.375 */
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease;
}

.secundary_button:hover {
  background-color: #0066cc;
  color: #ffffff;
}

/* btn add project header */
.add_project_button {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #007bff; /* cor primária */
  color: white;
  padding: 5px 14px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add_project_button:hover {
  background: #005fcc; /* tom mais escuro no hover */
}

.add_project_button svg {
  stroke: white;
}

.view_all {
  color: #0066cc;
  text-decoration: none;
  font-size: 1rem;
}

.view_all:hover {
  text-decoration: underline;
}

/* Adiciona a borda ESG */
.esg::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(135deg, #4CAF50, #FFEB3B, #03A9F4, #4CAF50);
  background-size: 300% 300%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

/* Esconde link lib leaflet */
.leaflet-bottom{
  display: none;
}

/* Modal */
.modal_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal_container {
  background: #fff;
  padding-top: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 76rem;
}

.modal_title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
    padding-bottom: .5rem;
    font-size: 2rem;
}

.modal_title h2{
  padding-left: 2.4rem;
  font-size: 1.8rem;
}

/* rounded border phone drawer */
.MuiDrawer-paper{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}