.form_group {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(85vh - 10rem);
  padding: 0 2.4rem;
}

.form_group h4 {
font-size: 2rem;
font-weight: bold;
margin-top: 3.2rem;
}

.form_group label {
  margin-top: 2.4rem;
}

.form_group label, 
.form_group span {
  font-size: 1.2rem;
}

.form_group input,
.form_group textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.4rem;
}

.form_group textarea {
  resize: vertical;
  min-height: 12rem;
  max-height: 25rem;
  font-size: 1.4rem;
}

.form_group > div:last-child {
  margin-top: 3.2rem;
}

.input_area {
  display: flex;
  align-items: center;
  gap: 6px;
}

.input_area input {
  width: 100%;
  padding-right: 2rem;
}

.input_area span {
  font-weight: bold;
  font-size: 1.4rem;
}

.checkbox_wrapper_page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  margin-top: 3.2rem;
}

.esg_warning {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.6rem;
}

.button_group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    padding: 1.6rem ;
    border-top: 1px solid rgba(128, 128, 128, 0.363);
}